-var enlacesPaginas = ["nosotros", "anuncios", "blog", "contacto"]
-var tituloNosotros = ["Seguridad", "El mejor precio", "A tiempo"]
-var titulosDepas = ["Casa de lujo en lago","Casa terminados de lujo","Casa de lujo con alberca","Casa fuera de la ciudad", "Casa frente al bosque", "Casa con alberca"]
-var paginasLink = ["nosotros.html","anuncios.html","blog.html","contacto.html"]
mixin cajaNosotros (icono, titulo, contenido)
     .cajaNosotros
          .cajaNosotros__icono: i(class="icono "+icono)
          .cajanosotros__contenido
               h3= titulo
               p= contenido
mixin cajaDepas (imagen, titulo, contenido, precio,baños,auto,camas)
     .cajaDepas
          .cajaDepas__imagen: img(src=""+imagen alt="Imagen de departamento")
          .cajaDepas__contenido
               h3= titulo
               p= contenido   
               p.precio= precio  
          .cajaDepas__especificaciones
               .icono-especificaciones
                    i(class="fas fa-toilet")
                    span= baños
               .icono-especificaciones
                    i(class="fas fa-car")
                    span= auto
               .icono-especificaciones
                    i(class="fas fa-bed")
                    span= camas
          a(href="#").boton.boton-naranja ver propiedad
mixin cajaBlog (imagen, titulo, fecha, autor, contenido)
     article.cajaEntrada
          .cajaEntrada__img
               img(src="img/"+imagen, alt="Imagen de la entrada")
          .cajaEntrada__detalles
               h3.cajaEntrada__detalles__titulo= titulo
               p.fechaAutor Escrito el 
                    span= fecha + ' ' 
                    |por: 
                    span= autor
               p.informeEntrada= contenido
mixin cajaTestimonial (contenido, autor)
     blockquote.testimonio
          p.contenido-testimonio= contenido
          p.testimonio__autor --
               span= autor